In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
import numpy as np

data= pd.read_csv('MELBOURNE_HOUSE_PRICES_LESS.csv') 

print("Dataset Info:")
print(data.info())

print("First 5 rows of the dataset:")
print(data.head())

missing_values = data.isnull().sum()
print("Missing values per column:")
print(missing_values)

data_cleaned = data.dropna(subset=['Price', 'Rooms', 'Distance', 'Propertycount'])
data_cleaned = data_cleaned.dropna()

data_cleaned['Log_Price'] = np.log(data_cleaned['Price'])

print(data_cleaned.isnull().sum())
print(data_cleaned.info())

X = data_cleaned[['Rooms', 'Distance', 'Propertycount', 'Suburb', 'CouncilArea', 'Regionname']]
y = data_cleaned['Log_Price']

X = pd.get_dummies(X, drop_first=True)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

print(f"Model Evaluation:")
print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"R-squared (R²): {r2:.2f}")

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63023 entries, 0 to 63022
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         63023 non-null  object
 1   Address        63023 non-null  object
 2   Rooms          63023 non-null  int64
 3   Type           63023 non-null  object
 4   Price          48433 non-null  float64
 5   Method         63023 non-null  object
 6   SellerG        63023 non-null  object
 7   Date           63023 non-null  object
 8   Postcode       63023 non-null  int64
 9   Regionname     63023 non-null  object
 10  Propertycount  63023 non-null  int64
 11  Distance       63023 non-null  float64
 12  CouncilArea    63023 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 6.3+ MB
None
First 5 rows of the dataset:
         Suburb           Address  Rooms Type      Price Method   SellerG  \
0    Abbotsford     49 Lithgow St      3    h  1490000.0      S    Jellis
1    Abbotsford     59A Turner St      3    h  1220000.0      S  Marshall
2    Abbotsford     119B Yarra St      3    h  1420000.0      S    Nelson
3    Aberfeldie        68 Vida St      3    h  1515000.0      S     Barry
4  Airport West  92 Clydesdale Rd      2    h   670000.0      S    Nelson

        Date  Postcode             Regionname  Propertycount  Distance  \
0  1/04/2017      3067  Northern Metropolitan           4019       3.0
1  1/04/2017      3067  Northern Metropolitan           4019       3.0
2  1/04/2017      3067  Northern Metropolitan           4019       3.0
3  1/04/2017      3040   Western Metropolitan           1543       7.5
4  1/04/2017      3042   Western Metropolitan           3464      10.4

                  CouncilArea
0          Yarra City Council
1          Yarra City Council
2          Yarra City Council
3  Moonee Valley City Council
4  Moonee Valley City Council
Missing values per column:
Suburb               0
Address              0
Rooms                0
Type                 0
Price            14590
Method               0
SellerG              0
Date                 0
Postcode             0
Regionname           0
Propertycount        0
Distance             0
CouncilArea          0
dtype: int64
Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Postcode         0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Log_Price        0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 48433 entries, 0 to 63020
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         48433 non-null  object
 1   Address        48433 non-null  object
 2   Rooms          48433 non-null  int64
 3   Type           48433 non-null  object
 4   Price          48433 non-null  float64
 5   Method         48433 non-null  object
 6   SellerG        48433 non-null  object
 7   Date           48433 non-null  object
 8   Postcode       48433 non-null  int64
 9   Regionname     48433 non-null  object
 10  Propertycount  48433 non-null  int64
 11  Distance       48433 non-null  float64
 12  CouncilArea    48433 non-null  object
 13  Log_Price      48433 non-null  float64
dtypes: float64(3), int64(3), object(8)
memory usage: 5.5+ MB
None
Model Evaluation:
Mean Absolute Error (MAE): 6.19
Mean Squared Error (MSE): 345505.60
Root Mean Squared Error (RMSE): 587.80
R-squared (R²): -1403633.66

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(